body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  height: 100vh;
}
.container{
  background-color: aliceblue;
  height: 50vh;
  width: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
